@CHARSET "UTF-8";

.canvas-panel{
	height : 300px;
}
#canvas{
	width : 100%;
	height : 100%;
}
.charts canvas{
	width : 100%;
	height : 200px;
}
.transition{
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
}
.video-wrap, .video-wrap .processer{
	position : relative;
}
.video-ctrl{
	bottom : 0;
	position: absolute;
	width : 100%;
	background : #111;
	background : -moz-linear-gradient(top , #333, #000);
	padding : 10px 50px 10px 90px; 
}
.video-ctrl .processer{
	border : 10px solid #000;
	border-width : 10px 0;
	background : #999;
	cursor : pointer;
}
.video-ctrl .processer:hover{
	background : #ccc;	
}

.video-ctrl .processer:hover .process-line{
	background : #093;
}
.ctrl-menu {
	clear : both;
	position : relative;
}
.ctrl-menu:after, .ctrl-menu:before{
	clear : both;
	overflow : hidde;
	content : "";
	visibility : hidden;
	display: block;
}
.video-ctrl .process-line{
	background : #073;
	height : 5px;
	width : 50%;
}
.video-ctrl .process-block{
	position : absolute;
	width : 10px;
	height : 15px;
	background : #aaa;
	border : 1px solid #777;
	box-shadow: 0 0 1px #333;
	left : 50%;
	top : -5px;
}

.video-ctrl .process-block:hover{
	background : #ddd;
	border-color : #999;
	box-shadow : 0 0 1px #777;
}
.video-ctrl .vol-ctrl{
	position: absolute;
	right : -30px;
	top : 2px;
}
.vol-ctrl a, .vol-ctrl a:visited{
	color : #aaa;
	cursor : pointer;
}
.vol-ctrl a:hover{
	color : #ddd;
}