@CHARSET="UTF-8";

/*reset duration*/
.transition{
	-webkit-transition : all ease .3s;
	-moz-transition : all ease .3s;
	transition : all ease .3s;
}
.orange-bg:hover{
	background : #f68822;
	transform : scale(.95);
	-webkit-transform : scale(.95);
	-moz-transform : scale(.95);
}

.blue-bg:hover{
	background : #38b8e0;
	transform : scale(.95);
	-webkit-transform : scale(.95);
	-moz-transform : scale(.95);
}

.turquoise-bg:hover{
	background : #22d090;
	transform : scale(.95);
	-webkit-transform : scale(.95);
	-moz-transform : scale(.95);
}

.asphalt-bg:hover{
	background : #586080;
	transform : scale(.95);
	-webkit-transform : scale(.95);
	-moz-transform : scale(.95);
}

.purple-bg:hover{
	background : #dd50dd;
	transform : scale(.95);
	-webkit-transform : scale(.95);
	-moz-transform : scale(.95);
}

.charcoal-bg:hover{
	background : #484646;
	transform : scale(.95);
	-webkit-transform : scale(.95);
	-moz-transform : scale(.95);
}