@CHARSET="UTF-8";
.orange-bg:hover{
	background : #f68822;
	animation : flipInX 1s;
	-webkit-animation : flipInX 1s;
}

.blue-bg:hover{
	background : #38b8e0;
	animation : flipInY 1s;
	-webkit-animation : flipInY 1s;
}

.turquoise-bg:hover{
	background : #22d090;
	animation : fadeInDown 1s;
	-webkit-animation : fadeInDown 1s;
}

.asphalt-bg:hover{
	background : #586080;
	animation : bounceIn 1s;
	-webkit-animation : bounceIn 1s;
}

.purple-bg:hover{
	background : #dd50dd;
	animation : fadeInUp 1s;
	-webkit-animation : fadeInUp 1s;
}

.charcoal-bg:hover{
	background : #484646;
	animation : bounceIn 1s;
	-webkit-animation : bounceIn 1s;
}