.slideInDown-hover:hover {
		animation-name : slideInDown;
		-webkit-animation-name : slideInDown;
}
.slideInUp-hover:hover {
		animation-name : slideInUp;
		-webkit-animation-name : slideInUp;
}
.slideInLeft-hover:hover {
		animation-name : slideInLeft;
		-webkit-animation-name : slideInLeft;
}
.slideInRight-hover:hover {
		animation-name : slideInRight;
		-webkit-animation-name : slideInRight;
}
.bounceIn-hover:hover{
	animation-name : bounceIn;
	-webkit-animation-name : bounceIn;
}
.bounceInUp-hover:hover{
	animation-name : bounceInUp;
	-webkit-animation-name : bounceInUp;
}

.bounceInDown-hover:hover{
	animation-name : bounceInDown;
	-webkit-animation-name : bounceInDown;
}
/*clock*/
#right-half, #left-half{
	position : absolute;
	width: 300px;
	height: 300px;
	border-radius: 300px;
}
.pie{
	width: 300px;
	height: 300px;
	position : absolute;
	border-radius : 300px;
	-moz-border-radius : 300px;
	background : #38e;
}
#left-half, #left-half .pie{
	clip:rect(0px 150px 300px 0px);
	clip:rect(0px,150px,300px,0px);
}
#right-half, #right-half .pie{
	clip:rect(0px 300px 300px 150px);
	clip:rect(0px,300px,300px,150px);
}
#right-half .pie{
	animation : spin 30s linear 0s infinite;
	-webkit-animation : spin 30s linear 0s infinite;	
}
#left-half .pie{
	animation : spin 30s linear 30s infinite;
	-webkit-animation : spin 30s linear 30s infinite;
}
#ring-fill{
	height : 250px;
	width : 250px;
	position : absolute;
	background : #f4f4f4;
	top : 25px;
	left : 25px;
	border-radius : 300px;
	-moz-border-radius : 300px;
	box-shadow: 0 0 8px #444 inset;
	-moz-box-shadow: 0 0 8px #444 inset;
}
#ring-bg{
	height:300px;
	width:300px;
	border-radius: 300px;
	background: #eee;
	box-shadow: 0 0 6px #666;
}